{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Signup - {{ block.super }}{% endblock %}
{% block link %}
	<link href="{% static 'css/sign-up.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
	<div class="mt-5">
		<form class="form-signin shadow bg-white pl-4 pr-4 border border-left-0 border-bottom-0 border-right-0 border-dark" method="post">
			<h1 class="h3 mb-3 font-weight-normal">Create New Account</h1>
			{% csrf_token %}
			{% crispy form %}
		</form>
	</div>
{% endblock %}

