{% load crispy_forms_tags %}
{% load markdownify %}
<h3>Answers</h3>
<ul class="list-unstyled">
	{% for answer in question.answer_set.all %}
	  <li class="row">
	  	<div class="col-sm-3 col-md-2 text-center">
	  		{% if answer.accepted %}
	  		  <span class="badge badge-pill badge-success">accepted</span>
	  		{% endif %}
	  		{% if answer.accepted and reject_form %}
	  		  <form method="post" action="{% url 'qanda:update_answer_acceptance' pk=answer.id %}">
	  		  	{% csrf_token %}
	  		  	{{ reject_form }}
	  		  	<button type="submit" class="btn btn-link">
	  		  		<i class="fa fa-times" arial-hidden="true"></i>
	  		  		Reject
	  		  	</button>
	  		  </form>
	  		{% elif accept_form %}
	  		  <form method="post" action="{% url 'qanda:update_answer_acceptance' pk=answer.id %}">
	  		  	{% csrf_token %}
	  		  	{{ accept_form }}
	  		  	<button type="submit" class="btn btn-link">
	  		  		<i class="fa fa-check-circle" arial-hidden="true"></i>
	  		  		Accept
	  		  	</button>
	  		  </form>
	  		{% endif %}
	  	</div>
	  	<div class="col-sm-9 col-md-10">
	  		<div class="media">
			  <div class="media-body">
			  	{{ answer.answer|markdownify }}
			  	<h5 class="mt-0 mb-1">Answered by {{ answer.user }} on {{ answer.created }}</h5>
			  </div>
			</div>
	  	</div>
	  </li>
	{% empty %}
	  <li class="list-group-item">No answer yet</li>
	{% endfor %}
</ul>