{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}Todo App {% endblock %}</title>
        <!-- Bootstrap core CSS -->
        <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="{% static 'css/pricing.css' %}" rel="stylesheet">
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
        {% block link %}
        {% endblock %}
    </head>
    <body>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <h5 class="my-0 mr-md-auto font-weight-normal">Todo<span class="badge badge-dark">APP</span></h5>
            {% if request.user.is_authenticated %}
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="{% url 'to_do:todo_list' %}">Mine</a>
                <a class="p-2 text-dark" href="{% url 'to_do:todo_create' %}"><span class="fa fa-plus-circle"> New todo</a>
                <a class="p-2 text-dark" href="">Blog</a>
            </nav>
                <a class="btn btn-outline-dark" href="{% url 'users:logout' %}">Logout</a>
            {% else %}
                <a class="btn btn-outline-dark mr-2 btn-sm" href="{% url 'login' %}">Sign in</a>
                <a class="btn btn-dark" href="{% url 'users:signup' %}">Create Account</a>
            {% endif %}
        </div>
        <div class="container">
            {% block content %}
            {% endblock %}
            <footer class="pt-4 my-md-5 pt-md-5 border-top">
                <div class="row">
                    <div class="col-12 col-md">
                        <img class="mb-2" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
                        <small class="d-block mb-3 text-muted">&copy; 2020</small>
                    </div>
                    <div class="col-6 col-md">
                        <h5>Features</h5>
                        <ul class="list-unstyled text-small">
                            <li>
                                <a class="text-muted" href="#" data-toggle="tooltip" data-placement="right" title="Comming Soon">Cool stuff</a>
                            </li>
                            <li>
                                <a class="text-muted" href="#" data-toggle="tooltip" data-placement="right" title="Comming Soon">Random feature</a>
                            </li>
                            <li>
                                <a class="text-muted" href="#" data-toggle="tooltip" data-placement="right" title="Comming Soon">Team feature</a>
                            </li>
                            <li>
                                <a class="text-muted" href="#" data-toggle="tooltip" data-placement="right" title="Comming Soon">Stuff for developers</a>
                            </li>
                            <li>
                                <a class="text-muted" href="#" data-toggle="tooltip" data-placement="right" title="Comming Soon">Another one</a>
                            </li>
                            <li>
                                <a class="text-muted" href="#" data-toggle="tooltip" data-placement="right" title="Comming Soon">Last time</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>Resources</h5>
                        <ul class="list-unstyled text-small">
                            <li>
                                <a class="text-muted" href="#" data-toggle="tooltip" data-placement="right" title="Comming Soon">Resource</a>
                            </li>
                            <li>
                                <a class="text-muted" href="#" data-toggle="tooltip" data-placement="right" title="Comming Soon">Resource name</a>
                            </li>
                            <li>
                                <a class="text-muted" href="#" data-toggle="tooltip" data-placement="right" title="Comming Soon">Another resource</a>
                            </li>
                            <li>
                                <a class="text-muted" href="#" data-toggle="tooltip" data-placement="right" title="Comming Soon">Final resource</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>About</h5>
                        <ul class="list-unstyled text-small">
                            <li>
                                <a class="text-muted" href="#">Team</a>
                            </li>
                            <li>
                                <a class="text-muted" href="#" data-toggle="tooltip" data-placement="right" title="We are located in Uganda kampala">Locations</a>
                            </li>
                            <li>
                                <a class="text-muted" href="#">Privacy</a>
                            </li>
                            <li>
                                <a class="text-muted" href="#">Terms</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/popper.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    </body>
</html>
