{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}Todo App {% endblock %}</title>
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- Custom styles for this template -->
        <link href="{% static 'css/pricing.css' %}" rel="stylesheet">
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        {% block link %}
        {% endblock %}
    </head>
    <body>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <h5 class="my-0 mr-md-auto font-weight-normal">Todo<span class="badge badge-dark">APP</span></h5>
            {% if request.user.is_authenticated %}
                <a class="btn btn-outline-dark" href="{% url 'user:logout' %}">Logout</a>
            {% else %}
                <a class="btn btn-outline-dark mr-2 btn-sm" href="{% url 'login' %}">Sign in</a>
                <a class="btn btn-dark" href="{% url 'users:signup' %}">Create Account</a>
            {% endif %}
        </div>
        
        <div class="container">
            {% if request.user.is_authenticated %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'to_do:todo_list' %}">Mine<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'to_do:todo_create' %}"><span class="fa fa-plus-circle"></span> New todo</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Dropdown
                    </a>
                    <div class="dropdown-menu shadow border-0" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </li>
                </ul>
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'user:profile' %}">My Profile</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'user:new_profile' %}">New Profile</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="">{{ request.user.username }}</a>
                  </li>
                </ul>
              </div>
            </nav>
            {% endif %}
            {% block content %}
            {% endblock %}
            <footer class="pt-4 my-md-5 pt-md-5 border-top">
                <div class="row">
                    <div class="col-12 col-md">
                        <img class="mb-2" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
                        <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
                    </div>
                    <div class="col-6 col-md">
                        <h5>Features</h5>
                        <ul class="list-unstyled text-small">
                            <li>
                                <a class="text-muted" href="#" data-toggle="tooltip" data-placement="right" title="Comming Soon">Cool stuff</a>
                            </li>
                            <li>
                                <a class="text-muted" href="#" data-toggle="tooltip" data-placement="right" title="Comming Soon">Random feature</a>
                            </li>
                            <li>
                                <a class="text-muted" href="#" data-toggle="tooltip" data-placement="right" title="Comming Soon">Team feature</a>
                            </li>
                            <li>
                                <a class="text-muted" href="#" data-toggle="tooltip" data-placement="right" title="Comming Soon">Stuff for developers</a>
                            </li>
                            <li>
                                <a class="text-muted" href="#" data-toggle="tooltip" data-placement="right" title="Comming Soon">Another one</a>
                            </li>
                            <li>
                                <a class="text-muted" href="#" data-toggle="tooltip" data-placement="right" title="Comming Soon">Last time</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>Resources</h5>
                        <ul class="list-unstyled text-small">
                            <li>
                                <a class="text-muted" href="#" data-toggle="tooltip" data-placement="right" title="Comming Soon">Resource</a>
                            </li>
                            <li>
                                <a class="text-muted" href="#" data-toggle="tooltip" data-placement="right" title="Comming Soon">Resource name</a>
                            </li>
                            <li>
                                <a class="text-muted" href="#" data-toggle="tooltip" data-placement="right" title="Comming Soon">Another resource</a>
                            </li>
                            <li>
                                <a class="text-muted" href="#" data-toggle="tooltip" data-placement="right" title="Comming Soon">Final resource</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>About</h5>
                        <ul class="list-unstyled text-small">
                            <li>
                                <a class="text-muted" href="#">Team</a>
                            </li>
                            <li>
                                <a class="text-muted" href="#" data-toggle="tooltip" data-placement="right" title="We are located in Uganda kampala">Locations</a>
                            </li>
                            <li>
                                <a class="text-muted" href="#">Privacy</a>
                            </li>
                            <li>
                                <a class="text-muted" href="#">Terms</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
