{% extends "base.html" %}
{% load crispy_forms_tags %}

{% 	block title %}New Profile - {{ block.super }}{% endblock %}
{% block content %}
	<div class="container bg-white mt-5 justify-content-center shadow-lg p-5 w-50">
		<div>
			<h1>Password change</h1>
			<p>Please enter your old password, for security's sake, and then enter your
			new password twice so we can verify you typed it in correctly.</p>
		</div>
		<form method="post" class="col-sm-12">
			{% csrf_token %}
			{% crispy form %}
		</form>
	</div>
	</div>
{% endblock %}