{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} Profile - {{ block.super }}{% endblock %}

{% block content %}
	<div class="container-fluid">
	  <div class="row">
	    <nav class="col-md-2 d-none d-md-block sidebar bg-dark">
	      <div class="sidebar-sticky">
	        <ul class="nav flex-column">
	          <li class="nav-item text-white p-2">
	            {{ request.user.username }} settings
	          </li>
	          <li class="nav-item">
	            <a class="nav-link" href="{% url 'user:password_change' %}">
	              <span data-feather="file"></span>
	              Change Password
	            </a>
	          </li>
	          <li class="nav-item">
	          	{% if not Profile %}
		            <a class="nav-link" href="{% url 'user:new_profile' %}">
		              <span data-feather="shopping-cart"></span>
		              New Profile
		            </a>
	            {% else %}
	            	<a class="nav-link" href="{% url 'user:update_profile' profile.owner.slug %}">
		              <span data-feather="shopping-cart"></span>
		              Update Profile
		            </a>
	            {% endif %}
	          </li>
	          <li class="nav-item">
	            <a class="nav-link" href="dashboard.htm#">
	              <span data-feather="users"></span>
	              Customers
	            </a>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link" href="dashboard.htm#">
	              <span data-feather="bar-chart-2"></span>
	              Reports
	            </a>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link" href="dashboard.htm#">
	              <span data-feather="layers"></span>
	              Integrations
	            </a>
	          </li>
	        </ul>
	      </div>
	    </nav>

	    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 p-2 shadow">
	    {% for profile in profile %}
	      <h2>Profile Information</h2>
	      	<h4>Bio</h4>
	      	
	      	<div class="p-3 bg-light">
	      		<p>{{ profile.bio }}</p>
	      		{% lorem 3 p %}
	      	</div>
	      	<div class="row py-3">
	      		<div class="col">
	      			<h5>FaceBook URL</h5>
	      			<div class="p-3 bg-light">
	      				{{ profile.fa_account }}
	      			</div>
	      		</div>
	      		<div class="col">
	      			<h5>Twitter URL</h5>
	      			<div class="p-3 bg-light">
	      				<a href="{{ profile.tw_account }}">{{ profile.tw_account }}</a>
	      			</div>
	      		</div>
	      	</div>
	      	<div class="row py-3">
	      		<div class="col">
	      			<h5>Instagram URL</h5>
	      			<div class="p-3 bg-light">
	      				{{ profile.in_account }}
	      			</div>
	      		</div>
	      		<div class="col">
	      			<h5>Linkedin URL</h5>
	      			<div class="p-3 bg-light">
	      				{{ profile.li_account }}
	      			</div>
	      		</div>
	      	</div>
	    {% empty %}
	    	<h5>No profile yet</h5>
	    {% endfor %}
	    </main>
	  </div>
	</div>
{% endblock %}
